@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --font: 'Lato', sans-serif;
    --gray-color: #252525;
    --darkyellow: #8f851a;
    --yellow: #ffee30;
}

.nav-item {
    font-size: 20px;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: var(--gray-color);
}

#header-container {
    position: relative;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gray-color);
}

#title-top {
    color: #000000;
    position: relative;
    text-align: center;
}

.btn {
    float: right;
    margin: 1%;
    background-color: var(--yellow);
    border-color: var(--gray-color);
    color: var(--gray-color);
    font-weight: bold;
}

.btn:hover {
    background-color: var(--gray-color);
    border-color: var(--gray-color);
}

.btn-outline-danger {
    background-color: rgb(192, 24, 24) !important;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: var(--hover-color);
}

.post {
    position: relative;
    width: 100%;
    height: 30%;
}

.post-background {
    position: inherit;
    width: 100%;
    height: 600px;
}

.post-container {
    position: relative;
    width: 75%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.title {
    position: relative;
    font-family: var(--font);
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

#single-line {
    height: 50px;
}

.post-text-body {
    position: relative;
    font-family: var(--font);
    color: #000000;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-text-button {
    position: relative;
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #000000;
    font-family: var(--font);
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.post-text-container {
    position: absolute;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.post-text-container-left {
    left: 0px;
}

.post-text-title {
    position: relative;
    color: #111;
    font-family: var(--font);
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}

#post-container-0 {
    background-image: url("./suitcasebw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    position: relative;
    font-family: var(--font);
    font-size: 14px;
    color: #000000;
    line-height: 20px;
    margin-bottom: 18px;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid var(--yellow);
    opacity: 1;
}

#submitButton {
    border: none;
    background-color: transparent;
}

#custom404 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.custom404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line {
    border-top: 1px solid #111;
    display: block;
    margin-top: 60px;
    padding-top: 50px;
    position: relative;
}

.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px 0 0 -40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: #ffffff;
    height: 80px;
    width: 80px;
}

.sign {
    height: 60px;
    width: 60px;
}

.read-more:hover {
    cursor: pointer;
    background-color: var(--yellow);
    border-radius: 60%;
}

textarea {
    resize: none;
}

.box {
    border: solid 1px black;
    padding: 20px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: auto;
    width: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.form-control-label {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 20px;
}

.viewcontainer {
    content: '';
    background: url("./suitcasebw.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
}